.alert-modal-content,
.confirm-modal-content {
  width: 500px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 90%;
    padding: 0;
  }
}

.subj-org-appoint-modal-content {
  width: 500px;
  box-sizing: border-box;
  padding: 20px 30px;
  overflow: visible !important;
  @include mobile {
    width: 90%;
    padding: 0;
  }
}

.safe-org-change-code-list-modal-content {
  width: 600px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 90%;
    padding: 0;
  }
}

.test-900-modal {
  width: 900px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 100%;
    padding: 0;
  }
}

.list-common-modal-content,
.org-select-modal-content,
.org-change-modal-content {
  width: 1100px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 0 !important;
    .popup-container {
      height: 100%;
    }
  }
}

.subject-committee-modal-content {
  width: 900px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 0 !important;
    .popup-container {
      height: 100%;
    }
  }
}

.subject-search-modal-content {
  width: 1350px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 0 !important;
    .popup-container {
      height: 100%;
    }
  }
}

.pop_title {
  font-size: 2.1rem;
  color:  var(--color-darkblue-100);
  font-weight: normal;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #{$col-gray300};*/
  padding-right: 40px;
  @include mobile {
    padding: 20px 40px 20px 0;
    margin: 0 20px;
  }
}

.pop_cont_box {
  position: relative;
  max-height: 900px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 0;
  @include mobile {
    padding: 20px 20px 35px;
    overflow-y: auto;
  }
  .write_form {
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 0 !important;
  }
  .list_form {
    margin-bottom: 20px;
  }
  .box_form {
    margin-bottom: 0;
    border: none;
    padding: 0;
  }
  + .pop_btns {
    border-top: 1px solid #{$col-gray350};
    padding-top: 20px;
    @include mobile {
      border-top: none;
    }
  }
}

.pop_full_cont_box {
  position: relative;
  height:calc(100vh - 18.5rem);
  overflow: hidden;
  /*overflow-y: auto;
  overflow-x: hidden;*/
  padding-top: 2.0rem;
  .list_form,
  .tb_wrap_scroll {
    margin-bottom: 3.0rem;
  }
  .write_form {
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 0 !important;
  }
  .box_form {
    padding: 0;
    border: none;
  }
  + .pop_btns {
    /*border-top: 1px solid #{$col-gray350};*/
    padding-top: 2.0rem;
    @include mobile {
      border-top: none;
    }
  }
  @include mobile {
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    .list_form,
    .write_form {
      margin-bottom: 30px;
    }
  }
}

.pop_cont {
  margin-top: 1.2rem;
  padding-bottom: 3.0rem;
  @include mobile {
    padding: 0 40px 70px 20px;
  }
}

.pop_btns {
  > button {
    margin: 0 5px;
  }
  .btn_text {
    font-family: 'KoreanAirSans';
    font-weight: 400;
    font-size: 1.6rem;
  }
  .btn_close {
    padding: 0.8rem 4.8rem;
    /*border: 0.2rem solid var(--color-darkblue-100);*/
    border-radius: 99.9rem;
    background: var(--color-neutral-30); 
  }
  .btn_confirm {
    padding: 0.8rem 4.8rem;
    border-radius: 99.9rem; 
    background: var(--color-darkblue-100);
  }
  text-align: center;
  @include mobile {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    > button {
      border-radius: 0 !important;
      margin: 0;
      flex-basis: auto;
      flex-grow: 1;
    }
  }
}

.pop_close {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 0;
  color: transparent;
  /*color:red;*/
  width: 30px;
  height: 30px;
  background: url(../images/close.svg) center center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.text_color_darkblue-100 {
  color: var(--color-darkblue-100); 
}
.text_color_neutral-90 {
  color: var(--color-neutral-90); 
}
.text_color_neutral-40 {
  color: var(--color-neutral-40); 
}
.text_color_neutral-10 {
  color: var(--color-neutral-10); 
}
.pop_flex_group {
  display: flex;
  height: 100%;
  @include mobile {
    display: block;
  }
  .andt-tree-container {
    flex-grow: 1;
    @include mobile {
      display: none;
    }
  }
  .pop_cont_form {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;
    .box_form {
      margin-bottom: 20px;
      @include mobile {
        padding: 0;
        border: none;
        margin-bottom: 0;
      }
    }
    @include mobile {
      flex-grow: 1;
      padding: 0;
    }
  }
}

.alert-modal-overlay {
  z-index: 50;
}

.middle-modal-overlay {
  z-index: 40;
}

.full-modal-overlay {
  z-index: 30;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

// 팝업 공통
.ReactModal__Content {
  position: absolute;
  background: #fff;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  border-radius: 6px;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  /*height: calc(100% - 50px);*/
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

#loading-bar-container {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  cursor: pointer;
}
.loading-bar
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border-radius:50%;
  text-align:center;
  font-size: 0;
  caret-color: #fff;
}
.loading-bar:before
{
  content:'';
  caret-color: #fff;
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border-radius:50%;
  background: url(../images/loading.svg) center center no-repeat;
  background-size: 140px;
  animation:animateC 2s linear infinite;
}
.loading-bar span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loading-bar span:before
{
  content:'';
  caret-color: #fff;
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  top:-6px;
  right:-8px;
}

@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}


/*.loading-bar {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 41;
  width: 80px;
  height: 80px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #{$col-green};
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #{$col-green} transparent transparent transparent;
  }
  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}*/

.modal_max_height_table {
  overflow-y: auto;
  max-height: 450px;
  @include mobile {
    max-height: calc(100vh - 240px);
  }
}
