@charset "UTF-8";

.Rightconts caption,.Rightconts legend{visibility:hidden;height:0;line-height:0}
form {display:inline}
.label{display:inline-block;font-weight:700;color:var(--color-darkblue100);margin-right:5px;line-height:1.1;vertical-align:middle}
.flex{flex:1;width:1%;min-width:0;max-width:100%}
body, button, input, textarea, select, label{font-family:'KoreanAirSans';font-weight:400;font-size:15px}


.ml5{margin-left:5px !important}
.w100{width:100px !important}


.wrap{position:relative;flex-direction:row;width:100%;height:calc(100vh - 0px);overflow-x:hidden}
.leftMenu{position:relative;float:left;margin:0 0 0 -260px;height:calc(100vh - 0px)}
.leftMenu .LNB_side{position:fixed;left:0;top:0px;max-width:260px;width:100%;height:100%;border-right:solid 1px #d9d9d9}
.leftMenu .LNB_list{padding:12px}
.leftMenu .LNB_list li{font-family:'KoreanAirSans';font-size:16px;font-style:normal;font-weight:400;line-height:150%;color:var(--color-text-body, #051766);padding:12px;border-bottom: 1px solid #D9D9D9;  display:flex;flex-direction: column;align-items: flex-start;gap:8px;flex-shrink:0}
.leftMenu .LNB_list li a{width:100%;background:url(../images/icon-arrow-up.svg) right center no-repeat}
.leftMenu .LNB_list li a.active{background: url(../images/icon-arrow-down.svg) right center no-repeat;font-weight:600}
.leftMenu .LNB_list li .mu-2depth{display:flex;width: 100%;flex-direction: column;align-items: flex-start}
.leftMenu .LNB_list li .mu-2depth li{display:flex;font-size:1.6rem;color:var(--color-text-enabled, #5E5E5E);padding:8px 12px;align-items:flex-start;gap:var(--size-1, 4px);align-self:stretch;border:0}
.leftMenu .LNB_list li .mu-2depth li a{background:none;border:none}
.leftMenu .LNB_list li .mu-2depth li.active{border-radius: var(--radius-small, 8px);background:var(--color-background-container-highlight, #EEF8FD);color:var(--color-text-body, #051766);font-weight:600}
.leftMenu .LNB_list li .mu-2depth li .mu-3depth{display:flex;width: 100%;flex-direction:column;align-items:flex-start}
.leftMenu .LNB_list li .mu-2depth li .mu-3depth li{background: url(../images/icon-dot.svg) no-repeat left center;border:none;font-size:16px;color:var(--color-text-enabled, #5E5E5E);display:flex;padding:8px 12px;align-items:flex-start;gap: var(--size-1, 4px);align-self:stretch}
.leftMenu .LNB_list li .mu-2depth li .mu-3depth li.active{background: url(../images/icon-dot.svg) no-repeat left center;text-decoration-line:underline;color:var(--color-text-body, #051766);font-weight:600}
  
.contents{position:relative;margin:0 0 0 260px;width:100%;padding:0 3.0rem 3.0rem 3.0rem;box-sizing:border-box;background-color:var(--color-neutral10);background-color:var(--color-lightgray0);}
.contents .Rightconts{width:calc(100% - 260px)}
.contents .conts-title{position:relative;border-bottom:solid 1px var(--color-neutral-40);align-items:center;padding:20px 0 40px 0px;margin-bottom:10px}
.contents .conts-title h2{float:left;font-family:"KoreanAirSans";font-size:2.1rem;color:var(--color-neutral-80);font-weight:700}

.contents .Rightconts .conts-tit{display:flex;position:relative;padding:0 0 5px;border-bottom:solid 1px var(--color-neutral-40);align-items:center}
.contents .Rightconts .conts-tit h2{font-family:'KoreanAirSans';font-size:20px}
.contents .Rightconts .conts-subTit{width:100%;line-height:3.5rem;padding-bottom:10px}
.contents .Rightconts .conts-subTit span{font-size:1.5rem}
.controlArea{/*flex:1;text-align:right*/float:right}
.controlArea .btn{height:35px;padding:0 20px;font-size:16px;font-weight:700;border:none;color:var(--color-neutral-10);border-radius:9999px;opacity:1;transition:opacity 0.1s ease}
/*등록*/
.detail-form{margin-bottom:1.0rem}
.detail-list .list{position:relative;padding:1.5rem 0;border-bottom:solid 1px var(--color-neutral-40)}
.detail-list .list .f-label{position:absolute;left:0;top:50%;transform: translate(0, -50%);width:110px;text-align:left;color:var(--color-neutral-80);border-right:1px solid var(--color-neutral-40);padding-right:2.0rem;box-sizing:border-box}
.detail-list .list .f-label .required{color:var(--color-negative)}
.detail-list .list .cont{padding-left:120px;box-sizing:border-box}
.form-table{display:flex;width:100%}
/*.form-table:first-child{padding-top:2.3rem}
.form-table + .form-table{padding-top:1.5rem}*/
.form-table .form-cell{position:relative;flex-grow:1;padding-right:10px;padding-top:0}
.form-table .form-cell:last-child{padding-right:0}

/*컨텐츠상단버튼*/
.btn-area{
  > button{}
  button + button{margin-left:0.5rem}
  .btn_text{font-family:'KoreanAirSans';font-weight:400;font-size:1.5rem}
  .btn-darkblue-line{border:solid 1px var(--color-darkblue-100);color:var(--color-neutral-80);color:var(--color-darkblue-100)}
  .btn-sm{padding:0.3rem 1.8rem;border-radius:99.9rem;align-items:center}
  position:relative;right:0;top:0;float:right;
  @include mobile {
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    display:flex;
    > button {
      border-radius: 0 !important;
      margin:0 auto;
      flex-basis:auto;
      flex-grow:1;
    }
  }
}


/*scrollbar color*/
.ag-root-wrapper{border-radius:0}
::-webkit-scrollbar{width:0.3em;height:0.3em}
::-webkit-scrollbar-track{border-radius:0px;background:var(--color-neutral-30)}
::-webkit-scrollbar-thumb{border-radius:10px;background:var(--color-neutral-60)}





















.input-group{position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height:100%
  }
 

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*margin-right: -5px;
    margin-left: -5px;*/
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .row-cols-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .row-cols-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .row-cols-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .row-cols-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .row-cols-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  
  .row-cols-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto{position:relative;width:100%;padding-right:5px;padding-left:5px}






@media (max-width: 1920px) {
    .wrap {
        min-width:1060px
    }
}


.select-in-valid {
  border: 1px solid red !important;
}

.editor-in-valid .toastui-editor-defaultUI {
  border: 1px solid red !important;
}

