@charset "UTF-8";
.Report-process{}
.Report-process li{position:relative;float:left;width:25%;text-align:center}
.Report-process li span:first-child{ width: 150px;height: 150px; border-radius: 50%;display: block;background: #f8f8f8;margin: 0 auto;padding-top: 60px; text-align: center; color:#222}
.Report-process li:before{content:'';display:block;width:96px; height:96px;background:url(../images/icon--arrow-right.svg) no-repeat; position: absolute; top: 50%; margin-top: -21px; right: -12px; }
.Report-process li.last:before{display:none}
@media (max-width:1024px) {
    .Report-process li span { width: 110px;height: 110px;padding-top: 45px; }
    .Report-process li:before { width: 20px;height: 38px;background-size: 20px;margin-top: -19px; }
}
@media (max-width:768px) {
    .Report-process{overflow: hidden;float:none}
    .Report-process li{width:100%;margin-bottom:40px;}
    .Report-process li span:first-child { width: 100px;height: 100px;padding: 0 5px; padding-top: 40px; }
    .Report-process li:before { left:50%;margin-left:-12px;transform: rotate(90deg);right: auto;
        bottom: -40px;
        top: auto;
        margin-top: 0;}
        .Report-process li span, .Report-process li span:first-child {
            font-size: 18px;
            width: 100%;
            height: 100px;
            padding: 0 5px;
            padding-top: 40px;
            border-radius: 0;
        }
}

@media (max-width:375px){
    .Report-process li { width: 100%;margin-bottom: 40px; }
    .Report-process li br{ display: none; }
    .Report-process li span{ width: 100%;height: auto;border-radius: 0;padding: 20px; }
    .Report-process li:before{ left: 50%;margin-left: -12px;transform: rotate(90deg);right: auto;bottom: -40px;top: auto;margin-top: 0; }

    .Report-process li span, .Report-process li span:first-child { font-size:18px;width:100%;height: 100px;padding: 0 5px; padding-top: 40px; border-radius:0}
}
