@charset "UTF-8";

.tc{text-align:center}
.h3{position:relative;font-size:2.2rem;font-weight:700;height:4.0rem;letter-spacing:-0.01rem}
.h3:after{content:'';display:block}
.flex-e{display:flex;justify-content:flex-end !important}
.-mb-8n-3 {margin-bottom:2.4rem !important}
.c-step-list{counter-reset:stepCounter}
.c-step-list.default{display:flex;font-size:1.2rem;text-align:center;margin-left:-1.5rem}

/*우측레이어*/
.RightLayer-Wrap{border:solid 1px red}

/* 리포트 프로세스*/
.process-btns{position:relative;margin-top:1.0rem}
.process-btns > button {
    margin: 0 0.5rem;
}
.process-btns .btn-sm{padding:0.5rem 2.8rem;border-radius:99.9rem}
.process-btns .btn_text{font-family:"KoreanAirSans";font-weight:400;font-size:1.6rem}
.process-btns .btn-blue{background-color:var(--color-lightblue-100);color:var(--color-neutral-10)}



.c-step-wrap.bg-white [class*=c-step-list-type] {background-color:var(--color-neutral-10)}
[class*=c-step-list-type]{display:flex;justify-content:flex-start;border:1px solid var(--color-neutral-40);background-color:var(--color-neutral-10);border-radius:0.8rem;overflow:hidden;counter-reset:stepCounter}
[class*=c-step-list-type]>li{position:relative;flex:1}
[class*=c-step-list-type]>li.active{border-bottom:solid 0.2rem var(--color-darkblue-100)}
[class*=c-step-list-type]>li:before{position:absolute;left:32px;top:22px;counter-increment:stepCounter;content:counter(stepCounter);font-weight:400;color:var(--color-neutral-80);font-size:68px;line-height:1}
[class*=c-step-list-type]>li~li{border-left:0.1rem solid var(--color-neutral-40)}

[class*=c-step-list-type]>li:first-of-type{border-top-left-radius:0.8rem;border-bottom-left-radius:0.8rem}
[class*=c-step-list-type]>li:last-of-type{border-top-right-radius:0.8rem;border-bottom-right-radius:0.8rem}

[class*=c-step-list-type][class*=-list-type-5]>li:first-child{padding:1.3rem 4.0rem 1.3rem 3.2rem}
[class*=c-step-list-type][class*=-list-type-5]>li{padding:1.3rem 4.0rem 1.3rem}
[class*=c-step-list-type][class*=-list-type-5]>li:before{display:block;position:static;content:"0" counter(stepCounter);font-weight:400;font-size:1.5rem;/*margin-bottom:0.5rem;*/line-height:1.5rem}
[class*=c-step-list-type][class*=-list-type-5] .info-title{font-weight:400;font-size:1.8rem}
[class*=c-step-list-type][class*=-list-type-5] .info-title.active{color:var(--color-lightblue-100);font-weight:700}
[class*=c-step-list-type][class*=-list-type-5]>li .after-arrow{position:absolute;top:calc(50% - 0.8rem);right:-0.9rem;height:1.6rem;width:1.6rem;transform:rotate(315deg);background:var(--color-neutral-10);z-index:10}
[class*=c-step-list-type][class*=-list-type-5]>li .after-arrow:after{content:'';display:inline-block;position:absolute;width:1.6rem;height:1.6rem;left:0;top:0;border-left-color:var(--color-neutral-40);border-bottom:0.1rem solid var(--color-neutral-40);border-right:0.1rem solid var(--color-neutral-40);border-top-color:var(--color-neutral-40)}

/*[class*=c-step-list-type][class*=-list-type-5]>li.active .after-arrow{position:absolute;top:calc(50% - 0.8rem);right:-0.9rem;height:1.6rem;width:1.6rem;transform:rotate(315deg);background:var(--color-neutral-10);z-index:10}
[class*=c-step-list-type][class*=-list-type-5]>li.active .after-arrow:after{content:'';display:inline-block;position:absolute;width:1.6rem;height:1.6rem;left:0;top:0;border-left-color:var(--color-neutral-40);border-bottom:0.2rem solid var(--color-darkblue-100);border-right:0.2rem solid var(--color-darkblue-100);border-top-color:var(--color-darkblue-100)}*/


/*AUDIT 체크리스트*/
.checklist-contents{display:flex;align-items:flex-end;justify-content:flex-start;flex-wrap:wrap;width:100%;box-sizing:border-box;margin-top:1.0rem}
.checklist-contents::after{content:'';display:block;clear:both}
.checklist-contents .checklist-row.list h4 label{position:relative;display:inline-block;width:100%;padding-bottom:1.0rem;border-bottom:0.1rem solid rgb(188, 188, 205)}
.checklist-contents .checklist-row.list h4 label button.btn-list{position:absolute;left:1rem;top:0.5rem;width:2.3rem;height:2rem;font-size:0;background:url(../images/icon-register.svg)center center no-repeat;align-items:center}
.checklist-contents .checklist-row.list h4 a{display:inline-block;font-size:1.6rem;font-weight:700;padding-left:4.0rem}
.checklist-contents .checklist-row.list h4 a span{line-height:2.0rem}
.checklist-contents .checklist-row{display:flex;align-items:flex-end;justify-content:flex-start;flex-wrap:wrap;width:25%;box-sizing:border-box;overflow:hidden;padding:1rem}
.checklist-contents .checklist-row .checklist-col{position:relative;width:100%;border-radius:0.8rem;padding:1rem;border:solid 0.1rem var(--color-neutral-40);background-color:var(--color-neutral-20);height:100%;min-height:22.0rem}

.checklist-contents .checklist-row.list ul{position:relative;display:flex;flex-direction:column;padding:1.0rem}
.checklist-contents .checklist-row.list li.list-space{position:relative;display:inline-flex;align-items:center;font-size:1.4rem;line-height:3rem}
.checklist-contents .checklist-row.list li.list-space a{padding-left:1rem;font-size:1.4rem}
.checklist-contents .checklist-row.list li.list-space a:hover{text-decoration:underline}
.checklist-contents .checklist-row.list li.list-space button.btn-list{width:2.3rem;height:2rem;font-size:0;background:url(../images/icon-register.svg)center center no-repeat;align-items:center}
.checklist-contents .checklist-row.list li.list-space button.btn-list .editChapter{visibility:hidden;opacity:0;margin-right:2rem}



