@charset "UTF-8";

.wrap {
  display: flex; 
  box-sizing: border-box; 
  height: calc(100vh - 0rem);
  min-width: 32.0rem;
}
.header {
  display: block;
  position: fixed; 
  top: 0; 
  min-width: 32.0rem;
  width: 100%; 
  /*max-width: 1920px;*/
  height: 8.8rem;
  /*border-bottom: 0.3rem solid var(--color-darkblue-100);*/
  border-bottom: 0.3rem solid var(--color-darkblue-100);
  z-index: 10;
  padding: 0 2.4rem;
  background-color: var(--color-neutral-10); 
}
.header .logo {
  float: left;
  width: 23.6rem;
}
.header .logo .menu {
  display: flex;
  width: 4.0rem;
  height: 4.0rem;
  margin: 2.0rem 0;
  justify-content: center;
  align-items: center;
  float: left;
}
.header .logo .top-logo a {
  display:inline-flex;
  margin: 2.0rem 0;
  justify-content: center;
  align-items: center;
}
.header .logo .top-logo a img {
  width: 3.0rem;
  height: 4.0rem;
  margin: 0 1.0rem;
}
.header .logo .top-logo a span {
  color: var(--color-darkblue-100);
  font-family: "KoreanAirSans";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
.header .GNB {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.8rem 0;
}
.header .GNB .gnb-list li {
  float: left;
  margin: 0 0.8rem;
  padding: 0 2.0rem;
}
.header .GNB .gnb-list li a{
  color: var(--color-darkblue-100);
  font-family: "KoreanAirSans";
  font-size: 2.0rem;
  font-style: normal;
  font-weight: 400;
}
.header .GNB .gnb-list li a:hover{text-decoration-line: underline;}
.header .GNB .gnb-list li a.active {position: relative;
  font-weight: 700;
  color: var(--color-darkblue-100);
}
.header .GNB .gnb-list li a.active:after{content:'';position:absolute;top: 0;right: -10px;width: 5px;height: 5px;border-radius: 50%;background-color:var(--color-darkblue-100);transition: all .3s ease-in-out}
.header .util {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.0rem 0;
}
.header .util .util-list li {
  float: left;
  margin: 0 0.3rem;
}
.header .util .util-list .util-icon li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .util .util-list .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-10); 
  outline: 0.1rem solid var(--color-neutral-30);
  border-radius: 3.0rem; 
  height: 4.0rem;
}
.header .util .util-list .btn a span {
  display: block;
  font-size: 1.6rem;
  padding: 1.2rem 2.0rem;
}
.header .util .util-list .btn a span.active {
  color: var(--color-neutral-10);
  background-color: var(--color-darkblue-100);
  border-radius: 99.9rem;
  padding: 1.2rem 2.0rem;
}



.LNB {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  height: calc(100vh - 0rem);
  /*margin-top: 8.0rem;*/
  width: 100%;
  max-width: 26.0rem;
  z-index: 9;
  overflow: hidden auto;
}
.LNB.hide {
  width: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}
.LNB.hide .LNB_menu {
  display: none;
}
.LNB_menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 8.8rem;
  background-color: var(--color-neutral-10); 
  padding: 2.4rem;
  min-width: 32.0rem;
}
.LNB_menu .m-lnb_top_logo {
  display: flex;
  width: 4.0rem;
  height: 4.0rem;
  justify-content: left;
  align-items: center;
  float: left;
}
.LNB_menu .m-lnb_top_logo a {
  display:inline-flex;
  justify-content: center;
  align-items: center;
}
.LNB_menu .m-lnb_top_logo a img {
  width: 3.0rem;
  height: 4.0rem;
  margin: 0 1.0rem;
}
.LNB_menu .m-lnb_top_logo a span {
  color: var(--color-darkblue-100);
  font-family: "KoreanAirSans";
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0.4rem;
}
.LNB_menu .m-lnb_top_btn {
  display: flex;
  position: absolute;
  right: 2.4rem;
}
.LNB_menu .m-lnb_top_btn .tab_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-10);
  /*border: 0.1rem solid #ddd; */
  outline: 0.1rem solid var(--color-neutral-30);
  border-radius: 3.0rem; 
  height: 4.0rem;
  margin-right: 1.0rem;
}
.LNB_menu .m-lnb_top_btn .tab_btn a span {
  display: block;
  font-size: 1.6rem;
  padding: 1.2rem 1.5rem;
}
.LNB_menu .m-lnb_top_btn .tab_btn a span.active {
  color: var(--color-neutral-10);
  background-color: var(--color-darkblue-100);
  border-radius: 99.9rem;
  padding: 1.2rem 2.0rem;
}
.LNB_menu .m-lnb_side .m-lnb_top_btn {
  display: flex;
  width: 4.0rem;
  height: 4.0rem;
  justify-content: right;
  align-items: center;
  float: right;
}
.LNB_menu .m-lnb_side .m-lnb_top_btn .close a {
  display: flex;
}


.LNB_side {
  background-color: var(--color-neutral-10); 
  border-right: 0.1rem solid var(--color-neutral-40);  
  overflow-y: scroll;
  width: 100%;
  margin-top: 8.8rem;
}
.LNB_side::-webkit-Scrollbar {
  width:0.3em;
  height:0.3em
}
.LNB_side::-webkit-Scrollbar-thumb {
  border-radius:1.0rem;
  background:var(--color-neutral-30);
  -webkit-tap-highlight-color: transparent;
}
.LNB_side::-webkit-Scrollbar Track {
  border-radius:0rem;
  background:var(--color-neutral-30)
}
.LNB_list {
  padding: 1.2rem;
}
.LNB_list li {
  font-family: 'KoreanAirSans';
  font-size: 2.0rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  color: var(--color-darkblue-100);
  padding: 1.2rem;
  border-bottom: 0.1rem solid var(--color-neutral-40);  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
}
.LNB_list li a {
  width: 100%; 
  color: var(--color-darkblue-100);text-decoration:none;
  font-size: 1.6rem;
}
.LNB_list li a:hover{text-decoration-line: underline;}
.LNB_list li a.up-icon {background: url(../images/icon-arrow-up.svg) right center no-repeat;}
.LNB_list li a.down-icon {background: url(../images/icon-arrow-down.svg) right center no-repeat;}
.LNB_list li a.active{position:relative;font-weight:700}
.LNB_list li .mu-2depth {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.LNB_list li .mu-2depth li {
  font-size: 1.6rem;
  display: flex;
  padding: 0.8rem 1.2rem;
  align-items: flex-start;
  gap: 0.4rem;
  align-self: stretch;
  border: 0;
}
.LNB_list li .mu-2depth li a {
  background: none;
  border: none;
  color: var(--color-neutral-70);
  font-size: 1.6rem;
}
.LNB_list li .mu-2depth li.active {
  border-radius: 0.8rem;
  background: var(--color-lightblue-10);
}
.LNB_list li .mu-2depth li.active a {
  color: var(--color-darkblue-100);
  font-weight: 700;
  font-size: 1.6rem;
}
.LNB_list li .mu-2depth li .mu-3depth {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.LNB_list li .mu-2depth li .mu-3depth li {
  background: url(../images/icon-dot.svg) no-repeat left center;
  border: none;
  font-size: 1.6rem;
  color: var(--color-neutral-70);
  display: flex;
  padding: 0.8rem 1.2rem;
  align-items: flex-start;
  gap: 0.4rem;
  align-self: stretch; 
}
.LNB_list li .mu-2depth li .mu-3depth li a {
  color: var(--color-neutral-70);
  font-weight: 400;
  font-size: 1.4rem;
}
.LNB_list li .mu-2depth li .mu-3depth li.active {
  background: url(../images/icon-dot-dark.svg) no-repeat left center;
}
.LNB_list li .mu-2depth li .mu-3depth li.active a {
  text-decoration-line: underline;
  color: var(--color-darkblue-100);
  font-weight: 700;
  font-size: 1.4rem;
}
.LNB_bg.active {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  position: fixed;
  z-index: 5;
  display: none;
}
.contents {
  flex: auto;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 2;
  min-width: 0;
  margin-top: 8.8rem;
  padding: 2.4rem 6.4rem;
  line-height: 150%;
  background-color: var(--color-neutral-10);
}

.ag-row .ag-cell {font-weight:400 !important;text-decoration:none !important}




.notice-board {width: 100%;}
.notice-board th {
  background: var(--color-neutral-20); 
  color: var(--color-darkblue-100); 
  font-size: 1.6rem; 
  text-align: center;
  padding: 1.2rem 0;
  border-top: 0.1rem solid var(--color-darkblue-100);
  border-bottom: 0.1rem solid var(--color-neutral-40);
  }
  .notice-board td a:hover {text-decoration: underline;}
  .notice-board td.left {text-align: left;}
  .notice-board td.right{text-align:right;padding-right:0.8rem}
  .notice-board tr.fix-bg {
    background: var(--color-neutral-10);
    font-weight: 400;
    td, td a {color: var(--color-darkblue-100);}
    .fix {background: url(../images/pin.svg) center center no-repeat; font-size: 0; background-size: 2.4rem; padding: 0;}
  }
  .notice-board td {
    text-align: center;
    padding: 1.0rem 0;
    border-bottom: 0.1rem solid var(--color-neutral-40);
  }

  .file-link {
    display: inline-block; 
    width: auto; 
    height: 100%; 
    /*line-height: 4.0rem;*/ 
    padding: 0.7rem 1.0rem;
    .link-box {
      display: inline-block;
      position: relative;
      padding-right: 2.5rem;
      margin:0 1.5rem 0 0.5rem;
      .close-btn {display: block; position: absolute; top: 0.4rem; right: 0; font-size: 0; background: url(../images/delete-text.svg) left center no-repeat; width: 2.0rem; height: 2.0rem;}
    }
    .link-box a {font-size: 1.4rem; color: var(--color-darkblue-100);}
    .link-box a:hover {text-decoration: underline;}
    
    }
    .btn-plus {position: absolute; right: 0; background: url(../images/plus-btn.svg) center center no-repeat; width: 4.0rem; height: 4.0rem; background-size: 2.4rem; font-size: 0; margin-left: 1.0rem; }
    .number {
      display: flex;
      margin: 2.0rem 0;
      .title {display: inline-block; line-height: 4.0rem; padding-right: 2.0rem; font-size: 1.8rem; font-weight: 700;}
      .wd-300 {width: 100%; max-width: 30.0rem;}
    }
    .table-box {
      display: block;
      width: 100%;
      
    .left-table {width: auto; vertical-align: top;}
    .left-table table {display: block; width: 100%;}
    .left-table th, td {padding: 1.0rem 2.4rem; text-align: center;}
    .right-table {display: inline-block; width: auto; vertical-align: top; background-color: brown;}
    }


    .table-tit {
      color: var(--color-darkblue-100);
      font-size: 1.8rem;
      font-weight: normal;
      padding-bottom: 1.0rem;
    }
    .graph {
      display: flex;
      width: 100%;
      padding: 2.0rem;
      margin-bottom: 2.0rem;
      text-align: center;
      overflow: auto;
      justify-content: center;
      align-items: center; 
    }
    .graph .graph-lt {
      width: 100%;
      display: inline-block;
    }
    .graph .graph-lt h3{font-size: 1.8rem; font-weight: 500; text-align: left;}
    .graph .graph-lt .graphbox {vertical-align: top; padding: 1.0rem;}
    .graph .graph-rt {
      width: 100%;
      display: inline-block;
    }
    .graph .graph-rt h3{font-size: 1.8rem; font-weight: 500; text-align: left;}
    .graph .graph-rt .graphbox {vertical-align: top; padding: 1.0rem;}
    .ck-box-tit {
      color: var(--color-darkblue-100);
      font-size: 1.6rem;
      font-weight: normal;
      padding: 1.0rem 0;
    }
    .input-box-tit {
      color: var(--color-darkblue-100);
      font-size: 1.6rem;
      font-weight: normal;
      padding: 1.0rem 0 0;
    }
    .ck-edit-box {
      width: 100%; 
      padding: 1.0rem 0 0;
      /*height: 100%;*/
      .ck-list {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        height: max-content;
        height: 100%;
      }
      .ck-edit {
        display: inline-block;
        width: calc(50% - 2.0rem);
        height: 100%;
        vertical-align: top;
        border: 0.1rem solid var(--color-neutral-40);
        border-radius: 0.8rem;
        
        margin-left: 2.0rem;
        .mg-top { margin:1.2rem;}
        .boxForm{position:relative;display:inline-table;width:100%;padding:1.0rem 3rem 1.0rem;margin-bottom:0rem;background-color:var(--color-neutral-10);border-radius:0.8rem}
        .boxForm::after{content:'';clear:both;display:block}
        .boxForm .form-table{display:flex;width:100%}
        .boxForm .form-table:last-child{padding-bottom:1.5rem}
        .boxForm .form-table .form-cell{position:relative;flex-grow:1;/*padding-right:1.0rem;padding-top:0*/ padding: 1.5rem 0.5rem;border-bottom: 0.1rem solid var(--color-neutral-40);}
        .btn-area-type01 {
          text-align:center;
            > button{margin:0 0.5rem}
            button + button{margin-left:0.5rem}
            .btn_text{font-family:'KoreanAirSans';font-weight:700;font-size:1.6rem}
            .btn_confirm{padding:0.6rem 2.8rem;border-radius:99.9rem;background: var(--color-darkblue-100); color: var(--color-neutral-10);}
            .btn_close{padding:0.6rem 2.8rem;border-radius:99.9rem;background: var(--color-neutral-30); color: var(--color-neutral-70);}

        }
      }

    }
.division {width: 100%; display: inline-flex;}
.division .check {width: 100%;}
.division .list {
  width: 100%;
  margin-left: 3.0rem; 
  padding: 3.0rem;
  border: 0.1rem solid var(--color-neutral-40); 
  border-radius: 0.8rem;
  h3 {font-size: 1.8rem; font-weight: 500; color: var(--color-darkblue-100); padding-bottom: 2.0rem;}
}

.searchbox {display: flex; width: 100%;}
.left-box {display: inline-table; vertical-align: top; padding-right: 3.0rem;}
.left-box .tree-box {display: inline-block; max-height: 68rem; width: 100%; /*overflow: auto;*/ background: var(--color-neutral-20); border-radius: 0.8rem; padding: 2.0rem;}
.left-box .tree-box .tree {min-width: 25.0rem; max-height: 58rem; overflow-y: scroll;}
.left-box .tree-box .tree-list {display: flex;}
.left-box .tree-box .tree-list .list {display: none;}
.left-box .tree-box .tree-list .list.active {display: block; height: 100%; width: 100%; vertical-align: top; min-width: 30.0rem; margin-left: 2.0rem;
  .list-table {width: 100%;}
  .list-table thead tr, .list-table tbody tr, .list-table tfoot tr {display: table; width: 100%;}
  .list-table th, .list-table td {padding: 1.0rem 0;border-bottom: 0.1rem solid var(--color-neutral-40); text-align:center;}
  .list-table thead th:nth-child(1), .list-table tbody td:nth-child(1), .list-table tfoot td:nth-child(1) {width: 70%;}
  .list-table thead th:nth-child(2), .list-table tbody td:nth-child(2), .list-table tfoot td:nth-child(2) {width: 30%;}
  .list-table th {border-top: 0.1rem solid var(--color-darkblue-100); color: var(--color-neutral-100); background-color: var(--color-neutral-30); font-weight: 500;}
  .list-table td {color: var(--color-neutral-70); background-color: var(--color-neutral-10);}
  .list-table tbody {display: block; max-height: 46.2rem; overflow-y: scroll;}
  .list-table tfoot td {color: var(--color-darkblue-100); background-color: var(--color-neutral-30); font-weight: 500;}
}
.right-box {display: inline-block; width: 100%; height: 100%; vertical-align: top;}

.searchlist {display: block; width: 100%;}
.searchlist .list {
  display: block; 
  width: 100%; 
  h3 {font-size: 1.8rem; font-weight: 500; color: var(--color-darkblue-100); padding-bottom: 1.0rem;}
  .list-table {width: 100%;}
  .list-table thead tr, .list-table tbody tr {display: table; width: 100%;}
  .list-table th, .list-table td {padding: 1.0rem 0;border-bottom: 0.1rem solid var(--color-neutral-40); text-align:center;}
  .list-table th:nth-child(1), .list-table td:nth-child(1){width: 6%;}
  .list-table th:nth-child(2), .list-table td:nth-child(2){width: 10%;}
  .list-table th:nth-child(3), .list-table td:nth-child(3){width: 10%;}
  .list-table th:nth-child(4), .list-table td:nth-child(4){width: 10%;}
  .list-table th:nth-child(5), .list-table td:nth-child(5){width: 10%;}
  .list-table th:nth-child(6), .list-table td:nth-child(6){width: 10%;}
  .list-table th:nth-child(7), .list-table td:nth-child(7){width: 10%;}
  .list-table th:nth-child(8), .list-table td:nth-child(8){width: 10%;}
  .list-table th:nth-child(9), .list-table td:nth-child(9){width: 10%;}
  .list-table th:nth-child(10), .list-table td:nth-child(10){width: 14%;}
  .list-table th {border-top: 0.1rem solid var(--color-darkblue-100); color: var(--color-darkblue-100); background-color: var(--color-neutral-20); font-weight: 500;}
  .list-table td {color: var(--color-neutral-70);}
  .list-table tbody {display: block; height: 16rem; overflow-y: scroll;}
  .list-table tbody tr:hover, .list-table tbody tr:active {width:100%;background-color: var(--color-lightblue-10); cursor: pointer;}
}
.searchlist .list-dtail {
  display: block; 
  width: 100%; 
  h3 {font-size: 1.8rem; font-weight: 500; color: var(--color-darkblue-100); padding: 1.5rem 0 0 0;}
  .list-table {width: 100%; margin-top: 1.0rem;}
  .list-table thead tr, .list-table tbody tr {width: 100%;}
  .list-table th, .list-table td {padding: 1.0rem 0;border-bottom: 0.1rem solid var(--color-neutral-40); text-align:center;}
  .list-table th {border-top: 0.1rem solid var(--color-darkblue-100); color: var(--color-darkblue-100); background-color: var(--color-neutral-20); font-weight: 500;}
  .list-table td {color: var(--color-neutral-70);}
  .list-table thead th.border-no {border-bottom: 0.1rem solid var(--color-neutral-20); border-right: 0.1rem solid var(--color-neutral-40);}
  .list-table tbody th {border-right: 0.1rem solid var(--color-neutral-40);}
  .pd-style01 {padding: 1.6rem 0.5rem;}
}
.radio-btn {padding: 0.4rem 1.0rem; background-color: var(--color-lightblue-100); color: var(--color-neutral-10); border-radius: 0.4rem; vertical-align: top; margin: 0.3rem 2.0rem 0 1.0rem; font-size: 1.2rem;}
.agree {border: 0.1rem solid var(--color-neutral-40); border-radius: 0.8rem; background-color: var(--color-neutral-20); padding: 2.0rem; line-height: 180%; font-size: 1.4rem;}

.txt-guide {display: inline-block; width: 100%; font-size: 1.2rem;}
.ck-guide { background-color: var(--color-neutral-20); border-radius: 0.8rem; padding: 1.0rem 1.5rem; margin-top: 1.0rem;}
.ck-guide li {font-size: 1.3 rem; color: var(--color-neutral-70); padding-left: 1.0rem; line-height: 180%;}
.ck-guide li::marker {content: "-"; color: var(--color-neutral-130); font-size: 1rem;}

.toggle_switch-tit {display: inline-block; vertical-align: top; line-height: 2.5rem; font-size: 1.6rem; padding-right: 1.0rem;}
.toggle_switch { display: inline-block; position: relative; width: 5.0rem; height: 2.5rem; } 
.toggle_switch input[type="checkbox"] { overflow: hidden; position: absolute; width: 0.1rem; height: 0.1rem; margin: -0.1rem; font-size: initial; clip: rect(0 0 0 0); } 
.toggle_switch .slider { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: var(--color-neutral-40); border-radius: 2.5rem; cursor: pointer; transition: 0.4s; } 
.toggle_switch input[type="checkbox"]:checked + .slider { background-color: var(--color-lightblue-100); } 
.toggle_switch .slider::before { content: ""; position: absolute; top: 0.4rem; left: 0.4rem; width: 1.7rem; height: 1.7rem; background-color: var(--color-neutral-10); border-radius: 50%; transition: 0.4s; } 
.toggle_switch input[type="checkbox"]:checked + .slider::before { transform:translateX(2.5rem); } 



.accordion-btn-tit {position:relative;font-family:"KoreanAirSans";font-size:1.8rem;color:var(--color-darkblue-100);text-align:left;width:100%;padding:0; }
.accordion-btn-tit span {display:inline-block;float:right;background:url(../images/arrow-down.svg)center right no-repeat;background-size:3.2rem;width:3.2rem;height:3.2rem;vertical-align:middle}
.accordion-btn-tit span.active {transform: rotate(180deg);}
.accordion-btn-tit:after{content:'';display:inline-block;position:absolute;top:50%;right:0;margin:0 0 0 1.3rem;-webkit-transform: translateY(-50%) rotate(45deg);-webkit-transform-origin: center;transform-origin:center}
.accordion-btn-tit .active .accordion-btn-tit:after{-webkit-transform:translateY(-50%) rotate(-135deg);transform:translateY(-50%) rotate(-135deg)}

.checklistbox {display: block; height: 19rem; overflow-y: auto;}
.check-list {width: 100%; border-top: 0.1rem solid var(--color-darkblue-100); }
.check-list th, .check-list td {padding: 1.0rem; font-size: 1.4rem; text-align: center;}
.check-list th {background-color: var(--color-neutral-20);}
.check-list tr {border-bottom: 0.1rem solid var(--color-neutral-40);}
.check-list td:first-child {text-align: left;}
.check-list tr:hover {background-color: var(--color-lightblue-10);}