@charset "utf-8";

@media screen and (min-width: 1280px) and (max-width: 1600px){
  .header .GNB  {display: none;}
  .checklist-contents {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .checklist-contents .checklist-row.list {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 33%; padding-right: 0;}
}


@media screen and (min-width: 1024px) and (max-width: 1280px){
  .header .GNB  {display: none;} 
  .list-common-modal-content, .org-select-modal-content, .org-change-modal-content {width: 90%;}
  .boxForm .form-table {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .boxForm .form-table .form-cell {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 50%; /*padding-right: 0;*/}
  .boxForm .form-table .wid-300 {max-width: 100%;}
  /*.boxForm .form-table .form-cell:nth-child(odd) {padding-right: 1.0rem;}*/

  .btn-area {width: 100%;}
  .checklist-contents {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .checklist-contents .checklist-row.list {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 50%; padding-right: 0; margin: 0;}

  .editbox .form-table {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .editbox .form-table .form-cell {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 33.3%; /*padding: 0.5rem 1.0rem 0.5rem  0;*/}
  .editbox .form-table .form-cell:nth-child(3) {padding-right: 0;}
  .editbox .line .form-cell {border-bottom: 0.1rem solid var(--color-neutral-40);}
  /*.editbox hr.line {margin: 1.0rem 0;}*/
  .dp-n {display: none;}

  .contents-btns > button.btn-type01 {width: calc(50% - 0.2rem); margin: 1.0rem 0;}
  .contents-btns > button.btn-type01:nth-child(odd) {margin-right:0.2rem;}


}


@media screen and (min-width: 768px) and (max-width: 1023px){
  .header .GNB  {display: none;}
  .LNB_bg.active {display: block;} 
  .list-common-modal-content, .org-select-modal-content, .org-change-modal-content {width: 90%;}
  .boxForm .form-table {display: block;}
  .boxForm .form-table .form-cell {width: 100%; padding-right:0;}
  .boxForm .form-table .wid-300 {max-width: 100%;}

  .editbox .form-table {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .editbox .form-table .form-cell {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 33.3%; padding:1.5rem 1.0rem 1.5rem 0;}
  .editbox .form-table .form-cell:nth-child(3) {padding-right: 0;}
  /*.editbox hr.line {margin: 1.0rem 0;}*/
  .editbox .line .form-cell {border-bottom: 0.1rem solid var(--color-neutral-40);}
  .dp-n {display: none;}
  
  .btn-area {display:flex; width: 100%;}
  .btn-area .btn-sm {width: 100%;}
  .btn-area > button + button {width: 50%;}
  .btn-area > button {margin: 0;}
  
  .checklist-contents {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .checklist-contents .checklist-row.list {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 50%; padding-right: 0; margin: 0;}

  .contents {padding: 2.4rem 3.0rem;}
  .contents-btns > button.btn-type01 {padding:0.8rem 2.0rem !important; width: calc(50% - 0.2rem); margin: 1.0rem 0;}
  .contents-btns > button.btn-type01:nth-child(odd) {margin-right:0.2rem;}

  .group-box-wrap {display: block; height: auto !important;}

  .c-step-wrap ol{position:relative;display:flex;width:100%;flex-wrap:nowrap;overflow:auto hidden;scroll-behavior:smooth;/*justify-content:center*/}
  [class*=c-step-list-type][class*=-list-type-5]>li:before{display:block;position:static;content:"0" counter(stepCounter);font-weight:400;font-size:1.4rem;line-height:1.4rem}
  [class*=c-step-list-type][class*=-list-type-5] .info-title{font-weight:400;font-size:1.5rem !important;line-height:1.5rem}

  .detail-form .detail-list .form-table {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .detail-form .detail-list .form-table .form-cell {width: 33.3%;}



}


@media screen and (max-width: 767px){
  .header .GNB  {display: none;}
  .header .logo {width: 4.0rem;}
  .header .logo .top-logo {display: none;}
  .header .util .util-list .btn {display: none;}
  .LNB {margin-top: 0; max-width: none; z-index: 11;}
  .LNB .LNB_menu {display: block;}
  .LNB .LNB_list {padding: 2.4rem;}
  .contents {padding: 2.4rem;}
  .conts-title h2 {font-size: 2.4rem;}

  .list-common-modal-content, .org-select-modal-content, .org-change-modal-content {width: 100%; height: 100%; border-radius: 0 !important;}
  .pop_full_cont_box {height: calc(100vh - 12.0rem); padding-bottom: 0;}
  .pop_btns {width: 100%; position: absolute; left: 0; bottom: 0; display: flex;}
  .pop_btns > button {border-radius: 0 !important; margin: 0; flex-basis: auto; flex-grow: 1;}

  .table-header .btns-area {display: none;}
  .boxForm .form-table {display: block;}
  .boxForm .form-table .form-cell {width: 100%; padding-right:0;}
  .boxForm .form-table .wid-300 {max-width: 100%;}

  .btn-area {display:flex; width: 100%;}
  .btn-area .btn-sm {width: 100%;}
  .btn-area > button + button {width: 50%;}
  .btn-area > button {margin: 0;}

  .contents-btns {display: block; width: 100%;}
  .contents-btns > button {width: 100%; margin: 1.0rem 0;}
  .contents-btns > button.btn-type01 {width: calc(50% - 0.2rem); margin: 1.0rem 0;}
  .contents-btns > button.btn-type01:nth-child(odd) {margin-right:0.2rem;}


  .checklist-contents {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .checklist-contents .checklist-row.list {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%; padding-right: 0; margin: 0;}
  
  .notice-board th, colgroup {display: none;}
  .notice-board tr {display: flex; flex-wrap: wrap; border-bottom: 0.1rem solid var(--color-neutral-30);}
  .notice-board tr:nth-child(2) {border-top: 0.1rem solid var(--color-darkblue-100);}
  .notice-board td {display: inline-block; border-bottom: 0;}
  .notice-board tr.fix-bg .fix {background-size: 2.0rem;}
  .notice-board td:nth-child(1) {width: 5.0rem; position: relative; top: 1.8rem; padding:0;}
  .notice-board td:nth-child(2) {width: calc(100% - 5.0rem); padding: 1.0rem 0 0 0;}
  .notice-board td:nth-child(3) {font-size: 1.4rem; padding: 0 1.0rem 1.0rem 5.0rem;}
  .notice-board td:nth-child(4) {font-size: 1.4rem; padding: 0 0 1.0rem;}

  .editbox .form-table {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .editbox .form-table .form-cell {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%; padding:1.5rem 0 1.5rem 0;}
  .editbox .form-table .form-cell:nth-child(even) {padding-right: 0;}
  /*.editbox hr.line {margin: 1.0rem 0;}*/
  .editbox .line .form-cell {border-bottom: 0.1rem solid var(--color-neutral-40);}
  .dp-n {display: none;}

  .detail-form .detail-list .form-table {display: flex; align-items: flex-end; justify-content: flex-start; flex-wrap: wrap; width: 100%;}
  .detail-form .detail-list .form-table .form-cell {width: 100%;}

  .group-box-wrap {display: block; height: auto !important;}
  .file-link {height: auto !important; line-height: auto !important;}

  .c-step-wrap ol{position:relative;display:flex;width:100%;flex-wrap:nowrap;overflow:auto hidden;scroll-behavior:smooth}
  [class*=c-step-list-type][class*=-list-type-5]>li:before{display:block;position:static;content:"0" counter(stepCounter);font-weight:400;font-size:1.4rem;line-height:1.4rem}
  [class*=c-step-list-type][class*=-list-type-5] .info-title{font-weight:400;font-size:1.5rem !important;line-height:1.5rem}

  .Status-area .Status-chart{display:block;height: auto !important}

  .menu-tab a{display: inline-flex;font-size:1.4rem;line-height:1.4;min-height:4.4rem}

}



@media screen and (max-width: 375px) {  
  .LNB .LNB_menu .m-lnb_top_logo a span {display: none;}
  .pop_full_cont_box {height: calc(100vh - 12.0rem);}

  /*상단타이틀*/
  
  .conts-title h2 span{font-size:2rem;color:var(--color-mblue-100)}

  .Report-process li { width: 100%;margin-bottom: 40px; }
  .Report-process li br{ display: none; }
  .Report-process li span{ width: 100%;height: auto;border-radius: 0;padding: 20px; }
  .Report-process li:before{ left: 50%;margin-left: -12px;transform: rotate(90deg);right: auto;bottom: -40px;top: auto;margin-top: 0; }

  .Report-process li span, .Report-process li span:first-child { font-size:18px;width:100%;height: 100px;padding: 0 5px; padding-top: 40px; border-radius:0}
  .checklist-contents {display: flex; width: 100%;}
  .checklist-contents .checklist-row {width: 100% !important; margin: 0 !important;}

  .contents-btns > button.btn-type01 {width: 100% !important; margin: 1.0rem 0;}

  .editbox .form-table .form-cell {width: 100%; padding-right: 0;}
  .dp-n {display: none;}

  .c-step-wrap ol{overflow:auto hidden;scroll-behavior:smooth}
  [class*=c-step-list-type][class*=-list-type-5]>li:before{display:block;position:static;content:"0" counter(stepCounter);font-weight:400;font-size:1.4rem;line-height:1.4rem}
  [class*=c-step-list-type][class*=-list-type-5] .info-title{font-weight:400;font-size:1.5rem !important;line-height:1.5rem}

  .Status-area .Status-chart{display:block;height: auto !important}

}